<div id="template" class="well">
  <h2>Gerrit Review Config Page</h2>
  <button ng-click="save()" class="btn btn-primary">Save</button><br/><br/>

  <p class="help-text">
    This is config for the gerrit setting.
  </p>

  <fieldset>
    <legend>Configuration</legend>
    <label for="url">Gerrit's URL</label>
    <input type="text" class="span12" ng-model="config.url" placeholder="http://your.gerrit.url">
    <label for="username">User name (require enough access level to set review)</label>
    <input type="text" class="span12" ng-model="config.username">
    <label for="password">User password</label>
    <input type="text" class="span12" ng-model="config.password">
  </fieldset>
  <button ng-click="save()" class="btn btn-primary">Save</button>
</div>
